@import "compass";
@include global-reset;
@include reset-html5;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "custom/styles";

$base-font-size: 14px;
$text-color: #444;
$link-color: #578cca;

$page-width: 780px;
$text-shadow: -1px -1px 1px rgba(204, 204, 204, .5);

$rgb-9: rgba(0, 0, 0, .9);
$rgb-8: rgba(0, 0, 0, .8);
$rgb-7: rgba(0, 0, 0, .7);
$rgb-6: rgba(0, 0, 0, .6);
$rgb-5: rgba(0, 0, 0, .5);
$rgb-4: rgba(0, 0, 0, .4);
$rgb-3: rgba(0, 0, 0, .3);
$rgb-2: rgba(0, 0, 0, .2);
$rgb-1: rgba(0, 0, 0, .1);
$base-font-family: 'Helvetica Neue', arial, sans-serif !default;
// Solutions
$support-for-html5-tags-in-ie:          true !default;
$support-for-original-webkit-gradients: true !default;

$experimental-support-for-webkit:       true !default;
$experimental-support-for-mozilla:      true !default;
$experimental-support-for-opera:        true !default;
$experimental-support-for-microsoft:   false !default;
$experimental-support-for-khtml:       false !default;

// Grayscale Colors
$black:         #000 !default;
$gray-darker:   #222 !default;
$gray-dark:     #333 !default;
$gray:          #555 !default;
$gray-light:    #999 !default;
$gray-lighter:  #eee !default;
$white:         #fff !default;

// Accent Colors
$blue:          #049cdb !default;
$blue-dark:     #0064cd !default;
$green:         #86bd55 !default; // 翼多绿
$red:           #bd362f !default;
$yellow:        #ffc40d !default;
$orange:        #f89406 !default;
$pink:          #c3325f !default;
$purple:        #7a43b6 !default;

// Typography
$text-color: $gray-dark !default;
$base-font-size:   12px !default;
$base-line-height: 	1.5 !default;
$base-font-family: 'Helvetica Neue', arial, sans-serif !default;

// Hyperlinks
$link-color: #2b4a74 !default;
$link-color-hover: lighten($link-color, 5%) !default;

// Form States and Alerts
$warning-text:        #c09853 !default;
$warning-background:  #fcf8e3 !default;
$warning-border:      darken(adjust-hue($warning-background, -10), 3%) !default;

$error-text:          #b94a48 !default;
$error-background:    #f2dede !default;
$error-border:        darken(adjust-hue($error-background, -10), 3%) !default;

$success-text:        #468847 !default;
$success-background:  #dff0d8 !default;
$success-border:      darken(adjust-hue($success-background, -10), 5%) !default;

$info-text:           #3a87ad !default;
$info-background:     #d9edf7 !default;
$info-border:         darken(adjust-hue($info-background, -10), 7%) !default;


/* Articles */
article {
  padding: 1em 0;
  border-bottom: 1px dashed #ddd;
  .neighbor {
    padding-top: 2em;
  }
}
.entry-title {
  font-family: 'SecretTypewriterRegular', $base-font-family;
  font-size: 28px;
  text-shadow: 1px 1px 3px $rgb-3;
  a {
    color: $text-color;
    @include transition(color 1s ease-in-out);
    &:hover {
      color: #105cb6;
    }
  }
}
.entry-content {
  font-size: 16px;
  p:first-child::first-letter {
    font-size: 24px;
  }
  p, li {
    > code {
      display: inline-block;
      padding: 0 .2em;
      border: 1px solid #ddd;
      border-radius: 3px;
      background: #f8f8f8;
      font-size: 14px;
    }

    > pre[class^='sh_'] > code {
      display: block;
    }
  }
}
.meta {
  height: 16px;
  padding: 0 5px;
  color: $gray-light;
  line-height: 1;
}
.tags {
  margin-left: 8px;
  font-size: 13px;
}
time {
  font-size: 13px;
}

.archives {
  position: relative;
  padding: 15px 0 0 100px;
  dt {
    position: absolute;
    left: 0;
    padding-top: 6px;
    color: #aaa;
    font-family: 'PT Serif', Georgia, $base-font-family;
    font-size: 31px;
  }
  dd {
    padding: 10px 0 15px;
    border-bottom: 1px dashed #ddd;
    &:last-of-type {
      border-bottom: 0;
    }
  }
}


// Sizing shortcuts
@mixin size($width: 1px, $height: 1px, $radius: false) {
  width: $width;
  height: $height;
  @if type-of($radius) == number {
    border-radius: $radius;
  }
}
@mixin square($size: 1px, $radius: false) {
  @include size($size, $size, $radius);
}
.share-to-weibo {
  padding-left: 1em;
  vertical-align: middle;
  a {
    display: inline-block;
    @include square(16px);
    margin-right: 4px;
    background: url(/images/icon.png) no-repeat 999px 999px;
  }
  .sina-weibo {
    background-position: 0 0;
  }
  .tencent-weibo {
    background-position: 0 -16px;
  }
  .twitter {
    background-position: 0 -32px;
  }
}
