<div class="share">
	<div class="addthis_toolbox addthis_default_style ">
	{% if site.facebook_like %}
	<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	{% endif %}
	{% if site.twitter_tweet_button %}
	<a class="addthis_button_tweet"></a>
	{% endif %}
	{% if site.google_plus_one %}
	<a class="addthis_button_google_plusone" g:plusone:size="{{ site.google_plus_one_size }}"></a>
	{% endif %}
	<a class="addthis_counter addthis_pill_style"></a>
	</div>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid={{ site.addthis_profile_id }}"></script>
  
    <script type="text/javascript" src="http://china-addthis.googlecode.com/svn/trunk/addthis.js" charset="UTF-8"></script><span class="addthis_org_cn"><a href="http://addthis.org.cn/share/" i="0|1|31|22|28|42|48|49|21|2|43" title="收藏&amp;分享"><img src="http://addthis.org.cn/images/a2.gif" alt="分享家:Addthis中文版" align="absmiddle" /></a></span>
</div>
