@import "compass";
@include global-reset;
@include reset-html5;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "custom/styles";

// Sizing shortcuts
@mixin size($width: 1px, $height: 1px, $radius: false) {
  width: $width;
  height: $height;
  @if type-of($radius) == number {
    border-radius: $radius;
  }
}
@mixin square($size: 1px, $radius: false) {
  @include size($size, $size, $radius);
}
.share-to-weibo {
  padding-left: 1em;
  vertical-align: middle;
  a {
    display: inline-block;
    @include square(16px);
    margin-right: 4px;
    background: url(/images/icon.png) no-repeat 999px 999px;
  }
  .sina-weibo {
    background-position: 0 0;
  }
  .tencent-weibo {
    background-position: 0 -16px;
  }
  .twitter {
    background-position: 0 -32px;
  }
}
